.Users {
  background-color: #232323;
}

#users-header {
  text-decoration: underline;
  padding-left: 10px;
}

#username {
  padding-top: 10px;
  padding-left: 10px;
}

.user-list {
  background: rgba(145, 200, 235, 1);
  height: 49em;
  margin: 8px;
  overflow-y: auto;
}
